# Node
node_modules/
client/node_modules/

# Build outputs
server/target/
dist/

# Eclipse
server/.classpath
server/.project
server/.settings/

# Logs
*.log

**/firebase/*.json

# ignore the settings.json file
.vscode/settings.json